<footer class="footer footer-bg fixed-bottom">
  <div class="container h-100 d-table">
    <div class="d-table-cell align-middle">
      <div class="text-start fit-content mx-auto">
        <small class="text-muted">ロゴは <a href="https://www.designevo.com/jp/" title="無料オンラインロゴメーカー">DesignEvo</a> ロゴメーカーさんで作りました</small></br>
        <small class="text-muted">Kio Mukai &copy; All Right Reserved.</small>
      </div>
    </div>
  </div>
</footer>
