<footer class="footer footer-bg fixed-bottom">
  <div class="container mt-2">
    <div class="mx-auto fit-content">
      <div><small class="text-muted">ロゴは <a href="https://www.designevo.com/jp/" title="無料オンラインロゴメーカー">DesignEvo</a> ロゴメーカーさんに作られました</small></div>
      <div><small class="text-muted">Kio Mukai &copy; All Right Reserved.</small></div>
    </div>
  </div>
</footer>
