body{
  background-image: image-url('background-image.jpg');
}
.header-bg{
  background-color: #e3f2fd;
  height: 70px;
  background-image: image-url('header-footer-background-image.jpg');
}
.footer-bg{
  background-color: #e3f2fd;
  height: 60px;
  background-image: image-url('header-footer-background-image.jpg');
}
#logo{
  font-weight: bold; 
  letter-spacing: 0.7rem;
  font-size: 1.5rem; 
  background: image-url('line.png') repeat-x bottom left / auto 8px;
}
.card{
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.carousel-font-area{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.carousel-font{
  color: #000000;
}
.search-box{
  max-height: 350px;
  padding: 0.5rem 1rem;
  border: double 5px #4ec4d3;
  background: #e4fcff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
}
.pagination {
  justify-content: center;
}

@media screen and (max-width: 768px){
  .center-image{
    height: 300px;
    object-fit: cover;
  }
  .carousel-image{
    width: 100%;
  }
}
@media screen and (min-width: 768px){
  .center-image{
    height: 500px;
    object-fit: cover;
  }
  .carousel-image{
    width: 80%;
  }
}
