body{
  background-image: image-url('background-image.jpg');
}
.header-bg{
  background-image: image-url('header-footer-background-image.jpg');
}
.footer-bg{
  background-color: #e3f2fd;
  height: 60px;
  background-image: image-url('header-footer-background-image.jpg');
}
#logo{
  font-weight: bold; 
  letter-spacing: 0.7rem;
  font-size: 1.5rem; 
  background: image-url('line.png') repeat-x bottom left / auto 8px;
}
.card{
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.carousel-font-area{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.carousel-font{
  color: #000000;
}
.search-box{
  max-height: 350px;
  padding: 0.5rem 1rem;
  border: double 5px #4ec4d3;
  background: #e4fcff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}
.pagination {
  justify-content: center;
}
.blue{
  color: #0d6efd;
}
.blue:hover{
  color: #0d6efd;
}
.about-bg{
  background-color: #fff5ee;
}
.about-sub-title{
  font-size: 2em;
  color: #7172ac;
}

@media screen and (max-width: 768px){
  .center-image{
    height: 300px;
    object-fit: cover;
  }
  .carousel-image{
    width: 100%;
  }
  .navbar-nav{
    --bs-nav-link-padding-y: 0.9rem;
  }
  .nav-collapse-design {
    position: relative;
    display: inline-block;
    padding-left: 45px;
  }
  .nav-collapse-design:before {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #8c8b8b;
    left:0;
  }
}
@media screen and (min-width: 768px){
  .center-image{
    height: 500px;
    object-fit: cover;
  }
  .carousel-image{
    width: 80%;
  }
  .nav-border-end{
    border-right: 1px dashed #8c8b8b;
  }  
  .w-85-md{
    width: 85%;
  }
}
