.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.product-md-image{
  width: 350px;
  height: 350px;
  object-fit: cover;
}
#map{
  height: 500px;
  max-width: 1000px;
  margin: auto;
}
